* {
    margin: 0;
    padding: 0;
    touch-action: manipulation;
}

:root {
    --color1: #161E27;
    --color2: #3F5364;
    --color3: #a2afb9;
    --color4: #2D3B4E;
    --width1: calc(75vh / 2);
    --height1: 75vh;
}

* {
    -webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

body {
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    background-color: var(--color4);
    font-family: "VT323", monospace;
    font-weight: 400;
    font-style: normal;
    display: flex;
    justify-content: center;
}

.main_container {
    height: 100vh;
    width: calc(var(--width1) + 30px);
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--color2);
    border-left: 5px solid #161E27;
    border-right: 5px solid #161E27;
    gap: 1.5vw;
    padding: 0 0.1vw;
    position: relative;
}

.middle_container {
    animation: showMainScreen 1s ease-in-out;
    width: calc(var(--width1));
    height: 100%;
    flex-direction: column;
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 0.77vh;
    padding: 20px;
}

@keyframes showMainScreen {
    from {
        display: none;
        opacity: 0;
    } 
    to {
        display: flex;
    }
}

.top_container {
    width: calc(var(--width1) + 7px);
    height: 9vh;
    display: grid;
    grid-template-columns: repeat(27, 1fr);
    grid-template-rows: repeat(4, 1fr);
    justify-content: space-between;
    padding: 1vh 0;
    line-height: 4vh;
    font-size: calc(var(--width1) / 13.3);
    font-weight: 1000;
    gap: 1.2vh;
}

.lines_container {
    height: 100%;
    width: 100%;
    outline: 4px solid var(--color1);
    border-radius: 5px;
    background-color: var(--color4);
    color: var(--color3);
    display: flex;
    grid-area: 3 / 1 / 5 / 10;
}

.lines_container p {
    padding-left: 3px
}

.score_container {
    height: 100%;
    width: 100%;
    outline: 4px solid var(--color1);
    border-radius: 5px;
    background-color: var(--color4);
    color: var(--color3);
    display: flex;
    grid-area: 3 / 10 / 5 / 21;
}

.score_container p {
    padding-left: 4px;
}

#lines, #score {
    width: fit-content
}

.lvl_container {
    height: 100%;
    width: 100%;
    outline: 4px solid var(--color1);
    border-radius: 5px;
    background-color: var(--color4);
    color: var(--color3);
    display: flex;
    grid-area: 1 / 1 / 3 / 7;
}

.lvl_container p {
    padding-left: 3px
}

.top-score_container {
    height: 100%;
    width: 100%;
    outline: 4px solid var(--color1);
    border-radius: 5px;
    background-color: var(--color4);
    color: var(--color3);
    display: flex;
    grid-area: 1 / 7 / 3 / 21;
}

.top-score_container p {
    padding-left: 3px
}

.next_container {
    grid-area: 1 / 21 / 5 / 28;
    height: 100%;
    width: 100%;
    outline: 4px solid var(--color1);
    border-radius: 5px;
    background-color: var(--color4);
    color: var(--color3);
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 2fr;
}

#next_title {
    grid-area: 1 / 1 / 2 / 2;
    font-size: calc(var(--width1) / 16);
    line-height: calc((9vh / 4));
    margin: auto;
    padding-top: 2px;
}

#next_display {
    display: flex;
    align-items: center;
    justify-content: center;;
}

.block {
    outline: 2px solid var(--color1);
    border-radius: 2px;
}

/* Blocks for next figure display */

.type1 {
    height: calc((9vh / 4) * 2);
    width: calc((9vh / 4) * 3);
    display: grid;
    grid-template: 1fr 1fr / 1fr 1fr 1fr;
    gap: 2px;
}

.type1 .block {
    background-color: #f94144;
}

.type1 .four {
    grid-area: 2 / 2 / 3 / 3;
}

.type2 {
    height: calc((9vh / 4) * 2);
    width: calc((9vh / 4) * 3);
    display: grid;
    grid-template: 1fr 1fr / 1fr 1fr 1fr;
    gap: 2px; 
}

.type2 .block {
    background-color: #f3722c;
}

.type2 .four {
    grid-area: 2 / 3 / 3 / 4;
}

.type3 {
    height: calc((9vh / 4) * 2);
    width: calc((9vh / 4) * 3);
    display: grid;
    grid-template: 1fr 1fr / 1fr 1fr 1fr;
    gap: 2px;
}

.type3 .block {
    background-color: #f8961e;
}

.type3 .one {
    grid-area: 1 / 1 / 2 / 2;
}

.type3 .two {
    grid-area: 1 / 2 / 2 / 3;
}

.type3 .three {
    grid-area: 2 / 2 / 3 / 3;
}

.type3 .four {
    grid-area: 2 / 3 / 3 / 4;
}

.type4 {
    height: calc((9vh / 4) * 2);
    width: calc((9vh / 4) * 2);
    display: grid;
    grid-template: 1fr 1fr / 1fr 1fr;
    gap: 2px;
}

.type4 .block {
    background-color: #f9c74f;
}

.type5 {
    height: calc((9vh / 4) * 2);
    width: calc((9vh / 4) * 3);
    display: grid;
    grid-template: 1fr 1fr / 1fr 1fr 1fr;
    gap: 2px;
}

.type5 .block {
    background-color: #90be6d;
}

.type5 .one {
    grid-area: 1 / 2 / 2 / 3;
}

.type5 .two {
    grid-area: 1 / 3 / 2 / 4;
}

.type5 .three {
    grid-area: 2 / 1 / 3 / 2;
}

.type5 .four {
    grid-area: 2 / 2 / 3 / 3;
}

.type6 {
    height: calc((9vh / 4) * 2);
    width: calc((9vh / 4) * 3);
    display: grid;
    grid-template: 1fr 1fr / 1fr 1fr 1fr;
    gap: 2px; 
}

.type6 .block {
    background-color: #43aa8b;
}

.type7 {
    height: calc((9vh / 4) * 1);
    width: calc((9vh / 4) * 4);
    display: grid;
    grid-template: 1fr / 1fr 1fr 1fr 1fr;
    gap: 2px; 
}

.type7 .block {
    background-color: #3A75AD;
}

#display {
    width: var(--width1);
    height: var(--height1);
    outline: 4px solid var(--color1);
    border-radius: 5px;
    display: grid;
    grid-template-rows: repeat(20, 1fr);
    grid-template-columns: repeat(10, 1fr);
    padding: 3px;
    gap: 4px;
    background-color: var(--color3);
}

#display div {
    width: 100%;
    height: 100%;
}

#display .block {
    outline: 2px solid var(--color1);
    border-radius: 2px;
}

#display .shadow {
    outline: 2px dotted var(--color2);
    border-radius: 2px;;
}

.bottom_container {
    height: 11vh;
    width: 100%;
    display: flex;
    gap: 3%;
    padding-bottom: 1.3vh;
    padding-top: 0.7vh
}

.button {
    height: 100%;
    width: 100%;
    outline: 3px solid var(--color1);
    border-radius: 5px;
    background-color: var(--color4);
    color: var(--color3);
    display: flex;
    align-items: center;
}

.button svg {
    fill: var(--color3);
    height: 100%;
    width: 100%;

}

#button_pause {
    position: absolute;
    height: calc(var(--height1) / 18);
    width: calc(var(--height1) / 18);
    top: 13%;
    right: 6%;
    outline: 3px solid var(--color2);
    border-radius: 50%;
}

#button_pause:hover {
    outline-color: white;
}

#button_pause svg {
    fill: var(--color2);
    height: 100%;
    width: 100%;
}

#button_pause svg:hover {
    fill: white;
}

.button svg:hover {
    fill: white;
}

.button:hover {
    outline-color: white;
}

.shadowed {
    background-color: rgba(0, 0, 0, 0.699);
}

#pause_menu {
    position: absolute;
    width: 100%;
    height: 100%;
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#pause_menu p {
    color: var(--color3)
}

.title {
    font-size: 5vh;
}

.options {
    width: fit-content;
    margin-top: 2vh;
    font-size: 4vh;
    display: flex;
    flex-direction: column;
    gap: 0;
    text-align: center;
    justify-content: space-between;
}

.options p {
    width: fit-content;
    margin: auto;
    line-height: 6vh;
}

.option {
    padding: 0;
    margin: 0;
    align-self: center;
    justify-self: center;
}

.statistic {
    margin-top: 2vh;
    height: 40vh;
    width: 55%;
    font-size: 3vh;
    text-align: center;
}

.statistic .container {
    display: flex;
    flex-direction: column;
    gap: 1vh;
}

.line {
    display: grid;
    grid-template-columns: 2fr 1fr 1fr;
    height: calc(40vh / 9);
    align-items: center;
}

.line>div {
    display: flex;
    justify-content: center;
}

.dash {
    font-size: 3vh;
    color: var(--color3)
}

.statistic>p {
    margin-bottom: 1vh;
    line-height: calc(40vh / 9);
}

#countdown {
    width: 100%;
    position: absolute;
    top: 30vh;
    display: none;
    justify-content: center;
}

#countdown_number{
    font-size: 10vh;
    color: var(--color3);
    text-align: center;
}

#button_unpause:hover,
#button_pauseControls:hover,
#button_pauseStatistic:hover,
#button_mainControlsBack:hover,
#button_mainControls:hover,
#button_play:hover,
#button_startNormal:hover,
#button_startHard:hover,
#button_playAgain:hover {
    color: white;
    cursor: pointer;
}

.pause_controls {
    margin-top: 2vh;
    height: 40vh;
    width: 75%;
    font-size: 3vh;
    text-align: center;
    display: none;
}

.pause_controls .container {
    display: grid;
    grid-template-rows: repeat(5, 1fr);
    grid-template-columns: 4fr 5fr;
    align-items: center;
    row-gap: 1vh;
    margin-bottom: 2vh;
}

#button_pauseStatistic {
    display: none;
}

#main_menu.shown {
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: var(--color2);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    opacity: 1;
}

#main_menu.hidden {
    display: none;
}

#main_menu .options {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#main_menu h1 {
    font-size: 10vh;
    color: var(--color3);
}

#main_menu p {
    font-size: 5vh;
    color: var(--color3);
}

.credit {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
    position: absolute;
    top: 85vh;
}

#main_menu .credit p{
    font-size: 3vh;
    text-align: center;
    align-items: center;
}

.credit img {
    width: 3vh;
}

.credit p {
    line-height: 3vh;
}

#logo.shown {
    position: absolute;
    animation: moveLogoDown 2s ease-in-out;
    top: 15vh;
}

@keyframes moveLogoDown {
    from{
        top: -100vh
    }   
}

#button_play,
#button_mainControls {
    opacity: 0;
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

#button_play.shown {
    animation: fadeIn 1s ease-in-out;
    opacity: 1;
    display: block;
    top: 49vh;
}

@keyframes fadeIn {
    from{
        opacity: 0;
        display: none;
    }
    to {
        opacity: 1;
        display: block;
    }
}

@keyframes fadeOut {
    from{
        opacity: 1;
        display: block;
    }
    to {
        opacity: 0;
        display: none;
    }
}

#button_mainControls.shown {
    animation: fadeIn 1s ease-in-out;
    opacity: 1;
    display: block;
    position: absolute;
    top: 55vh;
}

#button_play.moved {
    animation: movePlayButton 1s ease-in-out;
    top: 149vh;
    opacity: 1;
    display: block;
}

#button_mainControls.moved {
    animation: moveMainControlsButton 1s ease-in-out;
    top: 155vh;
    opacity: 1;
    display: block;
}

@keyframes movePlayButton {
    from {
        top: 49vh;
    }
    to {
        top: 149vh;
    }
}

@keyframes moveMainControlsButton {
    from {
        top: 55vh;
    }
    to {
        top: 155vh;
    }
}

#chooseDifficulty.hidden {
    opacity: 0;
    display: none;
}

#chooseDifficulty.shown {
    animation: fadeIn 1s ease-in-out;
    opacity: 1;
    display: block;
}

#container_controls {
    position: absolute;
    grid-template-rows: repeat(6, 1fr);
    grid-template-columns: 4fr 5fr;
    align-items: center;
    top: 37vh;
    display: none;
}

#container_controls p {
    font-size: 3vh;
    text-align: center;
}

#button_mainControlsBack {
    grid-area: 6 / 1 / 7 / 3;
}

#game_over {
    position: absolute;
    width: 100%;
    height: 100%;
    font-size: 3vh;
    color: var(--color3);
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2vh;
    padding-bottom: 20vh;
}